*{
    background-color: black;
    font-family: Arial;
}

body {
    color: white;
}
.navbar{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu-nav {
    text-align: center;
}

.menu-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.menu-nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.description {
    font-size: 1em;
    font-style: italic;
}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}
.content-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}
.content span {
    display: inline-block;
    width: 60%;
}
.price {
    text-align: right;
}
.name{
    font-size: 1.5em;
}
.container {
    display: flex;
    align-content: space-between;
}
.container span {
    font-weight: bold;
}
