*{
    background-color: black;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

body {
    color: white;
}
.navbar{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar a:hover {
  border-bottom: 3px solid red;
}

.menu-nav {
    margin-top: 30px;
    text-align: center;
}

.menu-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.menu-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.menu-nav a:hover{
    border-bottom: 3px solid red;
}

.description {
    font-size: 1.4em;
    font-style: italic;
}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}
.content-title {
    text-align: center;
    font-weight: bold;
    font-size: 2.1em;
    color: red;
}
.content span {
    display: inline-block;
    width: 60%;
}
.price {
    text-align: right;
    font-size:  1.6em;
}
.name{
    font-size: 1.6em;
}
.container {
    display: flex;
    align-content: space-between;
}
.container span {
    font-weight: bold;
}
