.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name {
    color: blue;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}