{% extends 'menu/menu_nav.html' %}

{% block content %}
<div class="content">
    <div class="content-title">Appetizers From Kitchen</div>
    {% if appetizer_kitchen_list %}
        <ul>
        {% for apt in appetizer_kitchen_list %}
            <div class="container">
                <span class="name">{{apt.name}}</span>
                <span class="price">{{apt.price}}</span>
            </div>
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No appetizers are available.</p>
    {% endif %}

    <div class="content-title">Appetizers From Sushi Bar</div>
    {% if appetizer_sushi_list %}
        <ul>
        {% for apt in appetizer_sushi_list %}
            <div class="container">
                <span class="name">{{apt.name}}</span>
                <span class="price">{{apt.price}}</span>
            </div>
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No appetizers are available.</p>
    {% endif %}
</div>
{% endblock %}