{% extends 'menu/menu_nav.html' %}

{% block content %}
    Appetizers From the Kitchen:
    {% if appetizer_kitchen_list %}
        <ul>
        {% for apt in appetizer_kitchen_list %}
            {{apt.name}} &nbsp&nbsp&nbsp&nbsp&nbsp; {{apt.price}}
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No appetizers are available.</p>
    {% endif %}

    Appetizers From Sushi Bar:
    {% if appetizer_sushi_list %}
        <ul>
        {% for apt in appetizer_sushi_list %}
            {{apt.name}} &nbsp&nbsp&nbsp&nbsp&nbsp; {{apt.price}}
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No appetizers are available.</p>
    {% endif %}
{% endblock %}