{% extends 'menu/menu_nav.html' %}

{% block content %}
    <div class="content">
        <div class="content-title">
            Hibachi Lunch
        </div>
        {% if lunch_list %}
            <ul>
            {% for h in lunch_list %}
                <div class="container">
                    <span class="name">{{h.name}}</span>
                    <span class="price">{{h.price}}</span>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hibachis are available.</p>
        {% endif %}

        <div class="content-title">
            Hibachi Dinner
        </div>
        {% if dinner_list %}
            <ul>
            {% for h in dinner_list %}
                <div class="container">
                    <span class="name">{{h.name}}</span>
                    <span class="price">{{h.price}}</span>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hibachis are available.</p>
        {% endif %}

        <div class="content-title">
            Hibachi Kid
        </div>
        {% if kid_list %}
            <ul>
            {% for h in kid_list %}
                <div class="container">
                    <span class="name">{{h.name}}</span>
                    <span class="price">{{h.price}}</span>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hibachis are available.</p>
        {% endif %}
    </div>
{% endblock %}
