{% extends 'menu/menu_nav.html' %}

{% block content %}
    Hibachi Lunch:
    {% if lunch_list %}
        <ul>
        {% for h in lunch_list %}
            {{h.name}} &nbsp&nbsp&nbsp&nbsp&nbsp; {{h.price}}
        {% endfor %}
        </ul>
    {% else %}
        <p>No hibachis are available.</p>
    {% endif %}

    Hibachi Dinner:
    {% if dinner_list %}
        <ul>
        {% for h in dinner_list %}
            {{h.name}} &nbsp&nbsp&nbsp&nbsp&nbsp; {{h.price}}
        {% endfor %}
        </ul>
    {% else %}
        <p>No hibachis are available.</p>
    {% endif %}

    Hibachi Kid:
    {% if kid_list %}
        <ul>
        {% for h in kid_list %}
            {{h.name}} &nbsp&nbsp&nbsp&nbsp&nbsp; {{h.price}}
        {% endfor %}
        </ul>
    {% else %}
        <p>No hibachis are available.</p>
    {% endif %}
{% endblock %}
