<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% include 'menu/navbar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <div class="menu-nav">
        <ul>
            <li><a href="{% url 'appetizer' %}">Appetizer</a></li>
            <li><a href="{% url 'soup_salad' %}">Soup & Salad</a></li>
            <li><a href="{% url 'roll_combo' %}">Lunch Roll Combo</a></li>
            <li><a href="{% url 'sushi' %}">Sushi Rolls</a></li>
            <li><a href="{% url 'hibachi' %}">Hibachi</a></li>
            <li><a href="{% url 'kitchen' %}">Kitchen</a></li>
            <li><a href="{% url 'noodle_rice' %}">Noodle & Fried Rice</a></li>
            <li><a href="{% url 'sushi_dinner' %}">Dinner From Sushi Bar</a></li>
        </ul>
    </div>

    <br>

    {% block content %}
    {% endblock %}

</body>
</html>