<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% include 'menu/navbar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <h1>Osaka</h1>
    <h2>Menu</h2>
    <a href="{% url 'appetizer' %}"><button>Appetizer</button></a>
    <a href="{% url 'soup_salad' %}"><button>Soup & Salad</button></a>
    <a href="{% url 'roll_combo' %}"><button>Lunch Roll Combo</button></a>
    <a href="{% url 'sushi' %}"><button>Sushi Rolls</button></a>
    <a href="{% url 'hibachi' %}"><button>Hibachi</button></a>
    <a href="{% url 'kitchen' %}"><button>Kitchen</button></a>
    <a href="{% url 'noodle_rice' %}"><button>Noodle & Fried Rice</button></a>
    <a href="{% url 'sushi_dinner' %}"><button>Dinner From Sushi Bar</button></a>
    <a href="{% url 'dessert' %}"><button>Desserts</button></a>
    <br>

    {% block content %}
    {% endblock %}

</body>
</html>