<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Osaka Japanese Sushi and Hibachi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <div class="navbar">
        <img src="{% static 'menu/images/logo.png' %}" class="logo" width="200" height="50">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a>Contact Us</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>