{% extends 'menu/menu_nav.html' %}

{% block content %}
<div class="content">
    <div class="content-title">
        Soup
    </div>
    {% if soup_list %}
        <ul>
            {% for soup in soup_list %}
                <div class="container">
                    <span class="name">
                        {{soup.name}}
                    </span>
                    <span class="price">
                        {{soup.price}}
                    </span>
                </div>
                <p></p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No soups are avaliable.</p>
    {% endif %}

    <div class="content-title">
        Salad
    </div>
    {% if salad_list %}
        <ul>
            {% for salad in salad_list %}
                <div class="container">
                    <span class="name">
                        {{salad.name}}
                    </span>
                    <span class="price">
                        {{salad.price}}
                    </span>
                </div>
                <p></p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No salads are avaliable.</p>
    {% endif %}
</div>
{% endblock %}