{% extends 'menu/menu_nav.html' %}

{% block content %}
    <br>
    <br>

<div class="content-title">Normal/Hand Rolls</div>
<div class="content">
    {% if normal_sushi_list %}
        <ul>
        {% for sushi in normal_sushi_list %}
            <div class="container">
                <span class="name">{{sushi.name}}</span>
                <span class="price">{{sushi.price}}</span>
            </div>

            <div class="description">
                {{sushi.description}}
            </div>

            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}

    <div class="content-title">Special Rolls</div>
    {% if special_sushi_list %}
        <ul>
        {% for sushi in special_sushi_list %}
            <div class="container">
                <span class="name">{{sushi.name}}</span>
                <span class="price">{{sushi.price}}</span>
            </div>

            <div class="description">
                {{sushi.description}}
            </div>
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}

    <div class="content-title">Sushi & Sashimi</div>
    {% if sushi_sashimi_list %}
        <ul>

        {% for sushi in sushi_sashimi_list %}
            <div class="container">
                <span class="name">{{sushi.name}}</span>
                <span class="price">{{sushi.price}}</span>
            </div>
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}
</div>
{% endblock %}
