{% extends 'menu/base.html' %}

{% block content %}
    <br>
    <br>

    Normal/Hand Rolls:
    {% if normal_sushi_list %}
        <ul>
        {% for sushi in normal_sushi_list %}
            {{sushi.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{sushi.price}}
            <p></p>
            {{sushi.description}}
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}

    Special Rolls:
    {% if special_sushi_list %}
        <ul>
        {% for sushi in special_sushi_list %}
            {{sushi.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{sushi.price}}
            <p></p>
            {{sushi.description}}
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}

    Sushi & Sashimi:
    {% if sushi_sashimi_list %}
        <ul>
        {% for sushi in sushi_sashimi_list %}
            {{sushi.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{sushi.price}}
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sushi are available.</p>
    {% endif %}
{% endblock %}